.exercise-overview{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.exercises-feed{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.exerciseForm-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.exercises-nothing{
    text-align: center;
    margin: 10px;
}
